---
import Layout from "../layouts/Layout.astro";
import Carrrousel from "../components/Carrrousel.astro";
import Hero from "../components/Hero.astro";
import Featurette from "../components/Featurette.astro";
import Testimonial from "../components/Testimonial.astro";
---

<Layout title="Index">
  <main>
    <Carrrousel />
    <Hero />
    <Featurette />
    <Testimonial />
  </main>
</Layout>

