---
import Layout from "../layouts/Layout.astro";
import Carrrousel from "../components/Carrrousel.astro";
import Hero1 from "../components/Hero1.astro";
import Featurette from "../components/Featurette.astro";
import Contacto from "../components/Contacto.astro";
import Opiniones from "../components/Opiniones.astro";

---

<Layout title="Camping Bella Vista">
  <main>
    <Carrrousel />
    <Hero1 />
    <Featurette />
    <Contacto />
    <Opiniones />
  </main>
</Layout>

