---
import Layout from "../layouts/Layout.astro";
import Carrrousel from "../components/Carrrousel.astro";
import Featurette from "../components/Featurette.astro";
---

<Layout title="Index">
  <main>
    <!-- <Carrrousel /> -->
    <Featurette />
  </main>
</Layout>

