---

---

<!-- Features -->
<div id="cabanas" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
    <div>
      <img class="rounded-xl shadow-2xl shadow-current" src="/images/gildo.jpg" alt="Image Description" width="800px">
    </div>
    <!-- End Col -->
    <div class="mt-4 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <!-- Title -->
        <div class="space-y-2 md:space-y-4">
            <h2 class="featurette-heading ms-4 mb-3"><span class="titulo-feat">Cabañas.</span>
              <span class="text-muted subtitulo"> Cabañas totalmente equipadas.</span>
            </h2>
            <p class="ms-4 lead descripcion">
              Capacidad 2, 4 y 6 personas, cocina comedor, dos habitaciones,
              televisión satelital, ropa de cama y toallas, vajilla, cocina,
              agua caliente y fria, heladera, galeria, parrillero, cochera.
            </p>
        </div>
        <!-- End Title -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->


<!-- Features -->
<div id="camping" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
    
    <!-- End Col -->

    <div class="mt-5 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <!-- Title -->
        <div class="space-y-2 md:space-y-4">
          <h2 class="featurette-heading ms-4 mb-3"><span class="titulo-feat">Camping.</span>
            <span class="text-muted subtitulo"> Para disfrutar en familia.</span>
          </h2>
          <p class="ms-4 lead descripcion">
            Sectores para acampar con luz eléctrica, mesa, banquitos y asador.
            Sanitarios con duchas, inodoros, agua caliente y fria, limpieza
            dos veces al día. Quincho abierto y cerrado con mesas, bancos,
            fogón, pileta de lavar. Quincho lavadero. Pileta para chicos.
            Mucho espacio verde y abundante arboleda para disfrutar de la
            naturaleza. Iluminación en todo el camping.
          </p>
        </div>
        <!-- End Title -->
      </div>
    </div>
    <!-- End Col -->
    <div>
      <img class="rounded-xl shadow-2xl shadow-current" src="/images/camping.jpg" alt="Image Description" width="800px">
    </div>
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->

<!-- Features -->
<div id="motorhome" class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
    <div>
      <img class="rounded-xl shadow-2xl shadow-current" src="/images/motorhome.png" alt="Image Description" width="800px">
    </div>
    <!-- End Col -->
    <div class="mt-4 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <!-- Title -->
        <div class="space-y-2 md:space-y-4">
          <h2 class="featurette-heading ms-4 mb-3"><span class="titulo-feat">Motorhome.</span>
            <span class="text-muted subtitulo"> Algo lindo para hacer.</span>
            </h2>
            <p class="ms-4 lead descripcion">
              Sectores para motorhome con toma eléctrica, mesa, banquitos y
              asador. Sanitarios con limpieza dos veces al día. Quincho abierto
              y cerrado con mesas, bancos, fogón, pileta de lavar. Quincho
              lavadero. Pileta para chicos. Mucho espacio verde y abundante
              arboleda para disfrutar de la naturaleza. Iluminación en todo el
              camping.
            </p>
        </div>
        <!-- End Title -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->