---

---
<header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white border-b border-white/[.5] text-xl py-1 sm:py-0">
  <nav class="relative max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    
    <div class="flex items-center justify-between">
      <a class="flex text-xl font-semibold" href="#" aria-label="Brand">
        <img
        src="images/logo_sin_fondo.png"
        alt="camping bella vista"
        width="65"
        height="65"
      />
      <h1 class="titulo mx-1 mt-4 navbar-brand">Bella Vista</h1>
      </a>
      <div class="sm:hidden">
        <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-md border border-white/[.5] font-medium text-black/[.5] shadow-sm align-middle hover:bg-white/[.1] hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-600 transition-all text-sm" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
          <svg class="hs-collapse-open:hidden w-4 h-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <svg class="hs-collapse-open:block hidden w-4 h-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>
    </div>

    <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-2 sm:flex-row sm:items-center sm:justify-end sm:gap-y-0 sm:gap-x-7 sm:mt-0 sm:pl-7">
        <!-- <a class="font-medium text-white sm:py-6" href="#" aria-current="page">Cabañas</a> -->
        <a class="font-medium text-black/[.8] hover:text-black sm:py-6" href="#">Cabañas</a>
        <a class="font-medium text-black/[.8] hover:text-black sm:py-6" href="#">Camping</a>
        <a class="font-medium text-black/[.8] hover:text-black sm:py-6" href="#">Motorhome</a>
        <a class="font-medium text-black/[.8] hover:text-black sm:py-6" href="#">Contacto</a>
      </div>
    </div>
  </nav>
</header>


<!-- <header class="p-4 dark:bg-gray-800 dark:text-gray-100">
  <div class="container flex justify-between h-16 mx-auto">
    <a
      rel="noopener noreferrer"
      href="#"
      aria-label="Home"
      class="flex items-center p-2"
    >
      <img
        src="images/logo_sin_fondo.png"
        alt="camping bella vista"
        width="65"
        height="65"
      />
      <h1 class="navbar-brand titulo mx-2">Bella Vista</h1>
    </a>

    <ul class="items-stretch hidden space-x-4 md:flex">
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center text-xl px-2 -mb-1 dark:border-transparent"
          >Cabañas</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center text-xl px-2 -mb-1 dark:border-transparent"
          >Camping</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center text-xl px-2 -mb-1 dark:border-transparent"
          >Motorhome</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center text-xl px-2 -mb-1 dark:border-transparent"
          >Contacto</a
        >
      </li>
    </ul>
    <button class="flex justify-end p-4 md:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</header> -->

