---
---

<header class="p-4 dark:bg-gray-800 dark:text-gray-100">
  <div class="container flex justify-between h-16 mx-auto">
    <a
      rel="noopener noreferrer"
      href="#"
      aria-label="Home"
      class="flex items-center p-2"
    >
      <img
        src="images/logo_sin_fondo.png"
        alt="camping bella vista"
        width="65"
        height="65"
      />
      <h1 class="navbar-brand titulo mx-2">Bella Vista</h1>
    </a>

    <ul class="items-stretch hidden space-x-4 md:flex">
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center text-xl px-2 -mb-1 dark:border-transparent"
          >Cabañas</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center text-xl px-2 -mb-1 dark:border-transparent"
          >Camping</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center text-xl px-2 -mb-1 dark:border-transparent"
          >Motorhome</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center text-xl px-2 -mb-1 dark:border-transparent"
          >Contacto</a
        >
      </li>
    </ul>
    <button class="flex justify-end p-4 md:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</header>

