---

---

<section class="text-gray-600 bg-gray-50 py-14">
  <div class="container mx-auto flex px-5 py-0 items-center justify-center flex-col">
    <div class="text-left lg:w-2/3 w-full">
      <h1 class="font-style text-gray-800 text-5xl mb-2">
        Camping y Cabañas Bella Vista
      </h1>
      <p class="mb-8 leading-relaxed text-2xl">
        Bienvenidos, nos encontramos en el <spam class="titulo-feat">Departamento de Iglesia</spam>, más
        precisamente en Bella Vista, a 175 Km de la ciudad de San Juan,
        Argentina. <br/>
        Situados al pie de la <spam class="titulo-feat">Cordillera de los Andes</spam>, con una
        temperatura media de 25ºC en epoca estival, lugar fecundo de
        agricultura, paraíso y enclave natural de extraordinaria belleza.
        Hacemos <spam class="titulo-feat">eco-turismo</spam>, privilegiando la sustentabilidad, la
        preservación y la apreciación del medio tanto natural como cultural.<br/>
        <spam class="titulo-feat">Camping Bella Vista</spam> te espera para disfrutar la paz y armonia de la
        naturaleza en un ambiente familiar.
      </p>
    </div>
  </div>
</section>

<!-- <style>
  .px-5 {
    padding-right: 0px!important;
    padding-left: 0px!important;
  }
</style> -->